/*face ca site-ul sa nu aiba nici o margine*/
html,body {
    margin: 0 auto;
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
    max-width: 1800px;   
    overflow-x: hidden;
    background: rgb(70, 15, 33);
}

#firstsection {
  background: url(./img/background.png) no-repeat center center fixed;
  max-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  
    
}

  
.zone {
    
    /*padding:30px 50px;*/
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    /*border:1px solid transparent;*/
    transition: all 0.3s linear;
    z-index: 1;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.box:hover {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform:rotate(-7deg);
    box-shadow:rotate(-7deg);
}

/***********************************************************************
 *  Nav Bar  - list style face ca sa nu fie subliniat sau ceva link-ul 

 /sticky ca sa fie nav-ul sticky si fix
 **********************************************************************/
.logo {
   width: 70px;
   max-width: 70px;
   padding-right: 2em;
}

 .sticky {
     position: fixed;
     top:0;
     width:100%;
 }
.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.7em;
}
/*in momentul in care faci display-ul mai mic, navbar-ul e responsive*/
@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}
/*Elementul Contacts e impins in stanga*/

/*spatiu in navbar words*/
li {
    padding: 20px;
}
/*culoarea navbar words*/
a {
    color: #fff;
    text-decoration: none;
}


#particles-js{
  position: absolute;
  width: 1900px;
  height:1000px;
  
 
}

.break3 {
  height:450px;
}

/* Bird Animation*/

.container1 {
  z-index: 1;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
  justify-content: center;

}
.bird {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
	background-size: auto 100%;
  width: 352px;
  height: 500px;

 

	
	animation-name: fly-cycle;
	animation-duration: 1s;
	animation-delay: -0.5s;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
}

.bird-container1 {
	position: absolute;
	margin-top: 2800px;
  margin-left: 500px;
	transform: translate(-50%,-50%);
  will-change: transform;

}

@keyframes fly-cycle {
	
	100% {
		background-position: -3600px 0;
	}
	
}






/* text from hero about me*/
.hero-text {
    line-height:200%;
    text-align: start;
    position: relative;
    /*margin-top: calc(5% + 35px);*/
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 95%;
    max-width: 1100px;
    z-index: 1;
    }
    
    .hero-text h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
    }
    
    .hero-text h2 {
    font-size: 30px;
    width: 100%;
    max-width: 550px;
    font-weight: 400;
    color: #fff;
    line-height: 1.75;
    margin-top: 10px;
    
    }




 /* button for hero*/   

 /* Button for hero section */
 

 .btn {
  position: relative;
  font-size: 20px;
  background-color: transparent;
  cursor:pointer;
  color: white;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  transition: all 0.3s;
  tranform: scale(1, 1);
  
}
  
  .btn::before, .btn::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .btn-one::before {
    left: 4px;
    z-index: 1;
    
    opacity: 0;
    background: rgba(255, 255, 255, 0.1);
    transform: scale(0.1, 1);
  }
  
  .btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
  }
  
  .btn-one::after {
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .btn-one:hover::after {
    transform: scale(1, .1);
    opacity: 0;
  }
  


/***********************************************************************
 *  Cover - height, face ca marimea cover-ului sa fie mai mare iar vh, e cat viziunea site-ului
 align si justify face ca textul sa fie in mijloc
 **********************************************************************/

#img-hover-zoom{
  height: 100%;
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
   overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #360000;
  opacity: 0.7;
}

#img-hover-zoom img {
  transition: transform .3s ease;
}

#img-hover-zoom:hover img {
  transform: scale(1.1);
}





.container {
        /*show heigh: auto*/
        height: auto; 
        /*display: flex;*/
        align-items: center;
        justify-content: center;
        
}

.cover {
    width:25%; 
    position: absolute;
    left: 80%;
    top: 230%;
    bottom: 0;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(20, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    
    
  
}

/**/
.break4 {
  height: 70px;
}
.aboutb {
  background: url(./img/aboutb.jpg) no-repeat center center fixed;
  height: 1300px;
  z-index: 1;
  clip-path: polygon(100% 0%, 61% 0%, 30% 0%, 0% 0%, 0% 25%, 0% 75%, 0% 100%, 0% 100%, 100% 51%, 100% 100%, 100% 100%, 100% 100%, 100% 52%, 100% 25%);

  


}
.about-title {
    text-align: center;
    font-style: 'Special Elite', cursive;
    width: 1000px;
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing:5px;
   
}

.about-section {
  
    width: 90vw;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5%;
    
  }
  .about-txt {
    width: 60%;
  }
  
  
  .about-txt p {
    margin-top: 5%;
    font-size: 20px;
    font-weight: 400px;
    line-height: 40px;
    color: #fff;
    border-bottom: 2px solid #010101;
    padding-bottom: 50px;
   /* text-align: end; */
  
  }


.break {
    height:300px;
}

#contact-jump {
    color:#989eda;
    font-style: oblique;
    font-weight: 600;
    font-size: 20px;
    transition: color .1s ease;
    border:none;
    margin: 50px auto;
    padding: 0;
  }
  
  #contact-jump i {
    font-size: 12px;
    padding-left: 12px;
    vertical-align: 10%;
  }
  
  #contact-jump:hover {
    color: black;
  }
  
  #aboutContact {
    text-decoration: none;
  
  }

.break1 {
  height:250px;
}

.projects h2 {
    text-align: center;
   /* width: 1000px; */
    color: #fff;
    text-transform: uppercase;
    font-size: 3em;
    font-style: 'Montserat', sans-serif;
    
}
.break2 {
    height:50px;
  }

/***********************************************************************
 *  Grid Panel- repeat - totul e responsive
 **********************************************************************/
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    /*grid-gap: 20px;*/
}
/*padding face marimea imaginii */
.box {
    cursor:pointer;
    padding: 0px;
    margin: 20px;
}
/*all children of box img to be 100%*/
.box > img {
  
    width: 100%;

}

/* Hoverbox of the image */

  .hvrbox * {
    box-sizing: border-box;
  }
  .hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
  }
  .hvrbox img {
    max-width: 100%;
  }
  .hvrbox .hvrbox-layer_bottom {
    display: block;
  }
  .hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .hvrbox:hover .hvrbox-layer_top,
  .hvrbox.active .hvrbox-layer_top {
    opacity: 1;
  }

  /* The text of the images text*/
  .hvrbox .hvrbox-text {
    letter-spacing: 1px;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .hvrbox .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
  }
  .hvrbox.active .hvrbox-text_mobile {
    display: block;
  }

  .fix {
    display: flex;
    justify-content: space-evenly;
  }
  .example_c {
    color:#FFF !important;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;    
    padding: 20px;
    border: 4px solid #FFF !important;
    transition: all 0.4s ease 0s;
    }

    .example_c:hover {
      color: #fff !important;
      background: #f6b93b;
      border-color: #f6b93b !important;
      transition: all 0.4s ease 0s;
      }


.contacts{
 
}






footer {
    text-align: center;
}


